$light-theme: true !default;

// base
$base-color: #151a25;
$dot-color: darken($base-color, 2%);

// menu
$menu-color: #2681b1;
$highlight-menu-color: lighten($menu-color, 30%);
$burger-color: lighten(#00e5ee, 20%);

// board
$board-bg-color: #1a263d;
$board-h1-color: lighten($board-bg-color, 60%);
$board-text-color: lighten($board-bg-color, 55%);
$link-color: lighten($menu-color, 10%);
$highlight-link-color: #75bce1;
$board-dark-text-color: lighten($board-bg-color, 25%);

// waveline
$waveline-color: lighten($board-bg-color, 5%);

// scrollbar
$scrollbar-color: darken($menu-color, 34%);

// tooltip
$tooltip-bg-color: lighten(#bcd9ea, 0%);
$tooltip-border-color: $menu-color;
$tooltip-font-color: $base-color;

// contact
$contact-link-color: #a5b1c2;
$contact-link-highlight-color: $highlight-menu-color;

// mobile menu
$mobile-menu-item-color: #2681b1;
$mobile-menu-bg-color: $base-color;
$mobile-dot-color: darken($base-color, 2%);

// footer
$footer-text-color: darken($menu-color, 15%);

@if $light-theme {
    // base
    $base-color: #f1f1f1;
    $dot-color: darken(#f1f1f1, 3%);

    // menu
    $menu-color: #212121;
    $highlight-menu-color: #304ffe;
    $burger-color: navy;

    // board
    $board-bg-color: #fff;
    $board-h1-color: #212121;
    $board-text-color: #212529;
    $link-color: $highlight-menu-color;
    $highlight-link-color: $highlight-menu-color;
    $board-dark-text-color: #a5b1c2;

    // waveline
    $waveline-color: #a5b1c2;

    // scrollbar
    $scrollbar-color: darken($board-bg-color, 10%);

    // tooltip
    $tooltip-bg-color: lighten(#67e6dc, 30%);
    $tooltip-border-color: $highlight-menu-color;
    $tooltip-font-color: $highlight-menu-color;

    // contact
    $contact-link-color: darken(#a5b1c2, 20%);
    $contact-link-highlight-color: $highlight-menu-color;

    // mobile menu
    $mobile-menu-item-color: #000;
    $mobile-menu-bg-color: #e3f2fd;

    // footer
    $footer-text-color: lighten($menu-color, 50%);
}
