@import './menu.scss';
@import './board.scss';
@import './colors.scss';
@import './hamburgers/hamburgers.scss';
@import './waveline.scss';
@import './tooltip.scss';
@import './footer.scss';

// Dimensions for dots
$dot-size: 4px;
$dot-space: 15px;

* {
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;

    body {
        background: linear-gradient(
                    90deg,
                    $base-color ($dot-space - $dot-size),
                    transparent 1%
                )
                center,
            linear-gradient(
                    $base-color ($dot-space - $dot-size),
                    transparent 1%
                )
                center,
            $dot-color;
        background-size: $dot-space $dot-space;
    }
}

@keyframes fadeInFromLeft {
    from {
        opacity: 0;
        transform: translateX(-0.5rem);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.fade-in-from-left {
    animation-name: fadeInFromLeft;
    animation-duration: 0.5s;
}

.no-animation-on-mobile {
    @media only screen and (max-width: 500px) {
        animation: none;
    }
}

.container {
    margin: 0vh auto;
    padding: 5vh 0;
    max-width: 680px;
    position: relative;

    .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 500px) {
    body {
        background: $board-bg-color;
    }
    .container {
        padding: 0;
    }
}
