@import './menu.scss';
@import './board.scss';
@import './colors.scss';
@import './hamburgers/hamburgers.scss';
@import './waveline.scss';
@import './tooltip.scss';

// Dimensions for dots
$dot-size: 4px;
$dot-space: 15px;

* {
    margin: 0;
    box-sizing: border-box;

    body {
        font-size: 18px;

        background: linear-gradient(
                    90deg,
                    $base-color ($dot-space - $dot-size),
                    transparent 1%
                )
                center,
            linear-gradient(
                    $base-color ($dot-space - $dot-size),
                    transparent 1%
                )
                center,
            $dot-color;
        background-size: $dot-space $dot-space;
    }
}

.container {
    margin: 0vh auto;
    padding: 5vh 0;
    max-width: 680px;
    position: relative;

    .content {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: nowrap;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 16px;
        background: $board-bg-color;
    }
    .container {
        padding: 0;
    }
}

.footer {
    position: absolute;
    font-size: 1rem;
    font-family: monospace;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    color: darken($menu-color, 22%);
    bottom: 5vh;
    right: -1rem;
    width: 1.5rem;

    @media only screen and (max-width: 710px) {
        right: 0;
        top: 0;
        font-size: 0.8rem;
    }
}
