@import './themes';

@mixin menu-item {
    .menu-item {
        @include themify($themes) {
            color: themed('menu-color');
        }
        margin: 7px 0;
        font-size: 3rem;
        font-family: 'Covered By Your Grace';
        display: inline-block;
        cursor: pointer;
        transition: color 0.1s linear;

        &:focus,
        &:hover {
            @include themify($themes) {
                color: themed('highlight-menu-color');
            }
            outline: none;
        }
    }

    .menu-item.highlight {
        @include themify($themes) {
            color: themed('highlight-menu-color');
        }
    }
}

.menu {
    width: 200px;
    text-align: right;
    height: 300px;
    z-index: 10;

    div {
        position: relative;
        left: 1rem;
    }

    @include menu-item();

    @media only screen and (max-width: 500px) {
        display: none;
    }
}

.mobile-menu {
    @include themify($themes) {
        background: themed('mobile-menu-bg-color');
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 90vw;
    text-align: left;
    padding: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 10;

    @media only screen and (min-width: 500px) {
        display: none;
    }

    @include menu-item();

    .menu-item {
        @include themify($themes) {
            color: themed('mobile-menu-item-color');
        }
    }
}

.mobile-menu-close {
    transform: translateX(-100%);
}

.mobile-menu-open {
    transform: none;
}

.burger {
    position: fixed;
    bottom: 6%;
    right: 1.5vw;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 11;

    &:focus {
        outline: none;
    }

    @media only screen and (min-width: 500px) {
        display: none;
    }
}
