.waveline-wrapper {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
}

.waveline {
    width: 100%;
    overflow: hidden;
    background: transparent;
}
.waveline::before {
    content: attr(data-text);
    position: relative;
    bottom: 1rem;
    font-size: 2rem;
    color: transparent;
    text-decoration-style: wavy;
    text-decoration-color: lighten($color: $board-bg-color, $amount: 5%);
    text-decoration-line: underline;
}
