$base-color: #0a1428;
$menu-color: #05a3ce;
$board-bg-color: #112448;
$highlight-color: lighten($menu-color, 52%);
$link-color: darken($menu-color, 0%);
$board-h1-color: lighten($board-bg-color, 68%);
$board-text-color: lighten($board-bg-color, 59%);
