.board {
    background-color: #142850;
    height: 100%;
    display: block;
    width: 100%;
    overflow: scroll;

    .board-content {
        margin: 2rem 2rem;
        padding: 1rem;
        font-size: 1.6rem;
        color: #bdcdee;

        h1 {
            font-size: larger;
            color: #dee6f6;
        }
    }

    .welcome-svg {
        position: absolute;
        fill: #204081;
        width: 18rem;
        margin: 0 auto;
        bottom: 1rem;
        left: auto;
        right: auto;
    }
}
