.menu {
    width: 200px;
    text-align: right;
    height: 300px;
    // background-color: #71a95a;
    div {
        position: relative;
        left: 1rem;

        h1 {
            margin: 7px 0;
            font-size: 3rem;
            color: #ff560b;
            font-family: 'Covered By Your Grace';
            display: inline-block;
        }

        h1.highlight {
            color: #c30000;
        }
    }
}
